# Back4App -> your app -> App Settings -> Security & Keys
EXPO_PUBLIC_PARSE_SERVER_URL=https://parseapi.back4app.com
EXPO_PUBLIC_PARSE_APP_ID=your-application-id
EXPO_PUBLIC_PARSE_JS_KEY=your-javascript-key
